<!-- HEADER -->
<header id="main-header" class="py-2 bg-warning text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 *ngIf="employee">
          {{employee.data.firstName}} {{employee.data.lastName}}</h1>
      </div>
    </div>
  </div>
</header>

<!-- ACTIONS -->
<section id="actions" class="py-4 mb-4 bg-light" *ngIf="employee">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a routerLink="/employees" class="btn btn-light btn-block">
          <i class="fas fa-arrow-left"></i> Back To Projects
        </a>
      </div>
      <div class="col-md-3">
        <button class="btn btn-warning btn-block text-white" (click)="submitForm()" #saveButton>
          <i class="fas fa-check"></i> Save Changes
        </button>
      </div>
      <div class="col-md-3">
        <a routerLink="/cars" class="btn btn-danger btn-block" (click)="deleteEmployee()">
          <i class="fas fa-trash"></i> Delete Employee
        </a>
      </div>
    </div>
  </div>
</section>

<!-- DETAILS -->
<section id="details" *ngIf="employee">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h4>Edit Employee</h4>
          </div>
          <div class="card-body">
            <form (ngSubmit)="saveEmployee()" #employeeForm="ngForm">
              <ngx-bootstrap-text-input-row
                name="firstName"
                label="First Name"
                [(ngModel)]="employee.data.firstName"
                required minlength="3" maxlength="50"
                invalidText="Please enter a valid Firstname."
              >
              </ngx-bootstrap-text-input-row>
              <ngx-bootstrap-text-input-row
                name="lastName"
                label="Last Name"
                [(ngModel)]="employee.data.lastName"
                required minlength="3" maxlength="50"
                invalidText="Please enter a valid Lastname."
              >
              </ngx-bootstrap-text-input-row>
              <ngx-bootstrap-date-row
                name="birthDate"
                label="Birthdate"
                [(ngModel)]="employee.data.birthDate"
                required
                invalidText="Please enter a valid date."
              >
              </ngx-bootstrap-date-row>
              <ngx-bootstrap-text-input-row
                name="email"
                label="Email"
                [(ngModel)]="employee.data.email"
                required minlength="3" maxlength="100"
                invalidText="Please enter a valid Email."
              ></ngx-bootstrap-text-input-row>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

