<header id="main-header" class="py-2 bg-primary text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>
          <i class="fas fa-user"></i> Login</h1>
      </div>
    </div>
  </div>
</header>

<!-- DETAILS -->
<section id="details" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h4>Login Data</h4>
          </div>
          <div class="card-body">
            <form (ngSubmit)="loginUser()" #loginForm="ngForm">
              <ngx-bootstrap-text-input-row #userName
                name="userName"  label="User"
                [(ngModel)]="loginData.userName"
                required minlength="3" maxlength="20"
                invalidText="Please enter a valid user name."
              ></ngx-bootstrap-text-input-row>

              <ngx-bootstrap-text-input-row
                name="password" label="Password"
                [(ngModel)]="loginData.password"
                type="password"
                required minlength="3" maxlength="10"
                invalidText="Please enter a password."
              ></ngx-bootstrap-text-input-row>

              <button type="submit" class="btn btn-primary btn-block"
                      [disabled]="!loginForm.valid"
              ><i class="fas fa-check"></i> Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
