
html, body {
  height: 100%;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1040;
  transition: all .9s ease;
  background: rgba(0, 0, 0, 0.5);
}

.modal-backdrop {
  /*background: rgba(0, 200, 100, .4);*/
  background: rgba(0, 0, 0, 0.4);
}

.modal-content {
  /*height: 100px;*/
}

.btn-link.focus, .btn-link:focus, .btn-link:hover, .btn-link:active {
  text-decoration: none;
  outline: none;
  box-shadow: none;
  color: #007bff;
}
