<!-- HEADER -->
<header id="main-header" class="py-2 bg-success text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>
          <i class="fa fa-cog"></i> {{project.name}}</h1>
      </div>
    </div>
  </div>
</header>

<!-- ACTIONS -->
<section id="actions" class="py-4 mb-4 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a routerLink="/projects" class="btn btn-light btn-block">
          <i class="fas fa-arrow-left"></i> Back To Projects
        </a>
      </div>
      <div class="col-md-3">
        <button class="btn btn-success btn-block text-white" form="projectForm" #saveButton>
          <i class="fas fa-check"></i> Save Changes
        </button>
      </div>
      <div class="col-md-3">
        <button class="btn btn-danger btn-block" id="deleteCar" #deleteButton
                (click)="deleteProject()" *ngIf="project.publicId">
          <i class="fas fa-trash"></i> Delete Employee
        </button>
      </div>
    </div>
  </div>
</section>

<!-- DETAILS -->
<section id="details">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h4>Edit Project</h4>
          </div>
          <div class="card-body">
            <form (ngSubmit)="saveProject()" #projectForm="ngForm" id="projectForm">
              <ngx-bootstrap-text-input-row
                name="name" label="Name"
                [(ngModel)]="project.name"
                required minlength="3" maxlength="50"
              ></ngx-bootstrap-text-input-row>
              <ngx-bootstrap-text-input-row
                name="budget" label="Budget"
                [(ngModel)]="project.budget"
                required minlength="3" maxlength="50"
              ></ngx-bootstrap-text-input-row>
              <ngx-bootstrap-date-row
                name="planedStartDate" label="Planed start date"
                [(ngModel)]="project.planedStartDate"
                required
              ></ngx-bootstrap-date-row>
              <ngx-bootstrap-date-row
                name="planedFinishDate" label="Planed finish date"
                [(ngModel)]="project.planedFinishDate"
                required
              ></ngx-bootstrap-date-row>
              <ngx-bootstrap-text-area-row
                name="description" label="Description"
                [(ngModel)]="project.description"
                required
              ></ngx-bootstrap-text-area-row>
            </form>

            <div class="container p-0">
              <div class="row">
                <div class="col-md-6">
                  <label>Available Employees</label>
                </div>
                <div class="col">
                  <label>Assigned Employees</label>
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col-md-4">
                  <select class="custom-select" size="6" multiple>
                    <option *ngFor="let employee of employees" value="{{employee.publicId}}">{{employee.data.firstName}} {{employee.data.lastName}}</option>
                  </select>
                </div>
                <div class="col-md-2">
                  <button class="btn btn-success btn-block">Add <i class="fa fa-angle-double-right"></i></button>
                  <button class="btn btn-success btn-block"><i class="fa fa-angle-double-left"></i> Remove</button>
                </div>
                <div class="col-md-4">
                  <select class="custom-select" size="6" multiple>
                    <option *ngFor="let employee of project.assignedEmployees" value="{{employee.publicId}}">{{employee.data.firstName}} {{employee.data.lastName}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

