<!-- HEADER -->
<header id="main-header" class="py-2 bg-warning text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>
          <i class="fas fa-users"></i> Employees</h1>
      </div>
    </div>
  </div>
</header>

<!-- SEARCH -->
<section id="search" class="py-4 mb-4 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search Employees..." [(ngModel)]="searchText">
          <div class="input-group-append">
            <button class="btn btn-warning" (click)="searchEmployees()">Search</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- EMPLOYEES -->
<section id="employees">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h4>Employees</h4>
          </div>
          <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
              <th>#</th>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Birthdate</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let employee of employeeTableItemList.resultList; index as i">
              <td>{{i}}</td>
              <td>{{employee.firstName}}</td>
              <td>{{employee.lastName}}</td>
              <td>{{employee.birthDate | date:'yyyy-MM-dd' }}</td>
              <td>
                <a routerLink="details/{{employee.publicId}}" class="btn btn-secondary">
                  <i class="fas fa-angle-double-right"></i> Details
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
