<!-- Modal -->
<ng-container *ngIf="visible">
  <div class="modal-backdrop" id="confirmModal"  role="dialog" aria-hidden="true" #confirmDialog>
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmModalLabel">{{title}}</h5>
          <button type="button" class="close" aria-label="Close" (click)="onClose()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{message}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" #closeButton (click)="onClose()" >Cancel</button>
          <button type="button" class="btn {{btnClass}}" (click)="onConfirm()">{{btnText}}</button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
