<!-- HEADER -->
<header id="main-header" class="py-2 bg-info text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 *ngIf="car">
          {{car.brand}} {{car.model}} ({{car.status}})</h1>
      </div>
    </div>
  </div>
</header>

<!-- ACTIONS -->
<section id="actions" class="py-4 mb-4 bg-light" *ngIf="car">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a routerLink="/cars" class="btn btn-light btn-block">
          <i class="fas fa-arrow-left"></i> Back To Projects
        </a>
      </div>
      <div class="col-md-3">
        <button class="btn btn-info btn-block" (click)="submitForm($event)" #saveButton>
          <i class="fas fa-check"></i> Save Changes
        </button>
      </div>
      <div class="col-md-3">
        <a routerLink="/cars" class="btn btn-danger btn-block text-white" (click)="deleteCar()">
          <i class="fas fa-trash"></i> Delete Car
        </a>
      </div>
    </div>
  </div>
</section>

<!-- DETAILS -->
<section id="details" *ngIf="car">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h4>Edit Car</h4>
          </div>
          <div class="card-body">
            <form (ngSubmit)="saveCar()" #carForm="ngForm">
              <ngx-bootstrap-text-input-row
                name="brand"  label="Brand"
                [(ngModel)]="car.brand"
                required minlength="3" maxlength="10"
                invalidText="Please enter a valid Brand."
              ></ngx-bootstrap-text-input-row>

              <ngx-bootstrap-text-input-row
                name="model" label="Model"
                [(ngModel)]="car.model"
                required minlength="3" maxlength="10"
                invalidText="Please enter a model name."
              ></ngx-bootstrap-text-input-row>

              <ngx-bootstrap-text-area-row
                name="car-desc" label="Description"
                [(ngModel)]="car.description"
                required
                invalidText="Please enter a model description."
              ></ngx-bootstrap-text-area-row>

              <ngx-bootstrap-select-row
                name="fuelType"
                label="Fuel type"
                [(ngModel)]="car.fuelType" required
                [items]="fuelTypes"
                itemKey="id"
                itemLabel="value" (input)="selectInput($event)"
              >
              </ngx-bootstrap-select-row>

              <ngx-bootstrap-date-row
                name="manufacturingDate"
                label="Manufacturing Date"
                [(ngModel)]="car.manufacturingDate"
                required
              >
              </ngx-bootstrap-date-row>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

