<!-- HEADER -->
<header id="main-header" class="py-2 bg-primary text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>
          <i class="fas fa-cog"></i> Dashboard</h1>
      </div>
    </div>
  </div>
</header>

<!-- SEARCH -->
<section id="search" class="py-4 mb-4 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search Posts...">
          <div class="input-group-append">
            <button class="btn btn-primary">Search</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ACTIONS -->
<section id="actions" class="py-4 mb-4 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a href="" class="btn btn-success btn-block"
           (click)="$event.preventDefault();showProjectModal=true">
          <i class="fas fa-plus"></i> Add Project
        </a>
      </div>
      <div class="col-md-3">
        <a href="" class="btn btn-warning btn-block"
           (click)="$event.preventDefault();showEmployeeModal=true">
          <i class="fas fa-plus"></i> Add Employee
        </a>
      </div>
      <div class="col-md-3">
        <a href="#" class="btn btn-info btn-block">
          <i class="fas fa-plus"></i> Add Car
        </a>
      </div>
    </div>
  </div>
</section>

<!-- POSTS -->
<section id="posts">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="card">
          <div class="card-header">
            <h4>Latest Posts</h4>
          </div>
          <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>Category</th>
              <th>Date</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1</td>
              <td>Post One</td>
              <td>Web Development</td>
              <td>May 10 2018</td>
              <td>
                <a href="details.html" class="btn btn-secondary">
                  <i class="fas fa-angle-double-right"></i> Details
                </a>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>Post Two</td>
              <td>Tech Gadgets</td>
              <td>May 11 2018</td>
              <td>
                <a href="details.html" class="btn btn-secondary">
                  <i class="fas fa-angle-double-right"></i> Details
                </a>
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td>Post Three</td>
              <td>Web Development</td>
              <td>May 13 2018</td>
              <td>
                <a href="details.html" class="btn btn-secondary">
                  <i class="fas fa-angle-double-right"></i> Details
                </a>
              </td>
            </tr>
            <tr>
              <td>4</td>
              <td>Post Four</td>
              <td>Business</td>
              <td>May 15 2018</td>
              <td>
                <a href="details.html" class="btn btn-secondary">
                  <i class="fas fa-angle-double-right"></i> Details
                </a>
              </td>
            </tr>
            <tr>
              <td>5</td>
              <td>Post Five</td>
              <td>Web Development</td>
              <td>May 17 2018</td>
              <td>
                <a href="details.html" class="btn btn-secondary">
                  <i class="fas fa-angle-double-right"></i> Details
                </a>
              </td>
            </tr>
            <tr>
              <td>6</td>
              <td>Post Six</td>
              <td>Health & Wellness</td>
              <td>May 20 2018</td>
              <td>
                <a href="details.html" class="btn btn-secondary">
                  <i class="fas fa-angle-double-right"></i> Details
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-center bg-success text-white mb-3">
          <div class="card-body">
            <h3>Projects</h3>
            <h4 class="display-4">
              <i class="fas fa-folder"></i> {{projectsCount}}
            </h4>
            <a routerLink="/projects" class="btn btn-outline-light btn-sm">View</a>
          </div>
        </div>

        <div class="card text-center bg-warning text-white mb-3">
          <div class="card-body">
            <h3>Employees</h3>
            <h4 class="display-4">
              <i class="fas fa-users"></i> 200
            </h4>
            <a routerLink="/employees" class="btn btn-outline-light btn-sm">View</a>
          </div>
        </div>

        <div class="card text-center bg-info text-white mb-3">
          <div class="card-body">
            <h3>Cars</h3>
            <h4 class="display-4">
              <i class="fas fa-car"></i> 50
            </h4>
            <a routerLink="/cars" class="btn btn-outline-light btn-sm">View</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- MODALS -->
<!-- ADD PROJECT MODAL -->
<app-modal [show]="showProjectModal" [title]="'Add Project'" [bodyTemplate]="projectTemplate"
           [headerNgClass]="'bg-success text-white'" [submitButtonNgClass]="'btn-success'"
           #projectModal>
  <ng-template #projectTemplate>
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <select class="form-control">
          <option value="">Web Development</option>
          <option value="">Tech Gadgets</option>
          <option value="">Business</option>
          <option value="">Health & Wellness</option>
        </select>
      </div>
      <div class="form-group">
        <label for="image">Upload Image</label>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="image">
          <label for="image" class="custom-file-label">Choose File</label>
        </div>
        <small class="form-text text-muted">Max Size 3mb</small>
      </div>
      <div class="form-group">
        <label for="comment">Comment</label>
        <textarea id="comment" name="editor1" class="form-control"></textarea>
      </div>
    </form>
  </ng-template>
</app-modal>


<!-- ADD EMPLOYEE MODAL -->
<app-modal [show]="showEmployeeModal" [title]="'Add Employee'" [bodyTemplate]="employeeTemplate"
           [headerNgClass]="'bg-warning text-white'" [submitButtonNgClass]="'btn-warning'"
           #employeeModal>
  <ng-template #employeeTemplate>
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control">
      </div>
    </form>
  </ng-template>
</app-modal>


<!-- ADD USER MODAL -->
<div class="modal fade" id="addUserModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-warning text-white">
        <h5 class="modal-title">Add User</h5>
        <button class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control">
          </div>
          <div class="form-group">
            <label for="password2">Confirm Password</label>
            <input type="password" class="form-control">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-warning" data-dismiss="modal">Save Changes</button>
      </div>
    </div>
  </div>
</div>
